#OS junk files
[Tt]humbs.db
*.DS_Store

# Visual Studio 2012
# Base Project
# sdf, stores information for Visual Studios Intellisense
*.sdf
*.opensdf
# suo, solution options file (hidden)
*.suo

# Excluded Directories
Lib/
Temp/